/* src/styles.css */
.container__paperform {
    max-width: 1200px;
    height: 90vh; /* Set height to 100vh for full viewport height */
    padding: 2rem;
    margin: 0 .5rem;
    font-family: Arial, sans-serif;
    overflow-y: auto; /* Make the container scrollable */
  }
  

  
  .container__paperform-form {
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
  }
 
.paperform__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    position: relative;
    color: #fff;
  }
  
  .paperform__header h3 {
    margin: 0;
  }
  
  .paperform__close-icon {
    position: absolute !important;
    right:-45%;
    color: #fff;
  }

  
  .container__paperform-form-group {
    margin-bottom: 1.5rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #444;
  }
  
  input,
  select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  button {
    width: 100%;
    padding: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .question-paper {
    margin-top: 2rem;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .paper-content {
    margin-top: 1rem;
  }
  


  .paperform__form-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .paperform__form-group p{
    font-size: 0.8rem;
  }

  .paperform__form-group h4{
    font-weight: 400;
  }

  .container__paperform-form-summary{
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
  }
  
  @media (max-width: 768px) {
    .container__paperform {
      padding: 1rem;
      max-width: 96%;
    }
    
    .form__paperform {
      padding: 1rem;
    }
    .small-text-field {
        width: 40%; 
      }
  }